@charset "ISO-8859-1";


#h1{
	
}
#container{
	background-image:  url(https://thumbs.dreamstime.com/z/fondo-de-la-comida-para-los-platos-sabrosos-del-invierno-y-oto%C3%B1o-con-calabaza-diversos-ingredientes-cocinar-cuchara-el-cuchillo-103694404.jpg);
	text-align: center;
	
}
#survey-form{
	background-color:grey;
	border:1px;
	margin-left: 25%;
	margin-right:25%;
	border-style: groove;
	
	
}

#postre{
	margin-left: 45%;
	text-align:left;
}
#intereses{
	margin-left: 45%;
	text-align:left;
	
}

#line{
	width:100px;
	heigth: 100%;
}