



	

#container{
	
	background-color: bisque;
	text-align: center;
	
	
	
	
}
#survey-form{
	background-color:rgb(172, 161, 161);
	border:1px;
	margin-left: 25%;
	margin-right:25%;
	border-style: groove;
	opacity: 0.9;
	
	
}

#postre{
	margin-left: 45%;
	text-align:left;
}
#intereses{
	margin-left: 45%;
	text-align:left;
	
}

#line{
	width: 100px;
	height: 100%;
}